body {
	background-image: url("images/pattern-background-desktop.svg");
	background-size: auto;
	background-repeat: no-repeat;
	background-color: hsl(225, 100%, 94%);
	font-family: 'Red Hat Display', sans-serif;
}

h1{
	font-weight: bold;
}

p {
	font-size: 16px;
}

/*https://coryrylan.com/blog/how-to-center-in-css-with-flexbox*/
section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
	border-radius: 25px 25px 0px 0px;
}

.inner{
	border-radius: 25px;
	text-align: center;
	background-color: white;
	margin: 30px 10px;
}


 .attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }