body {
	background-image: url("images/pattern-background-desktop.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: hsl(225, 100%, 94%);
	font-family: 'Red Hat Display', sans-serif;
}

img{
	display: block;
}

h1 {
	font-weight: 900;
}

p {
	/*font-size: 16px;*/
	font-size: 0.8em;
	font-weight: normal;
	padding: 0px 15px 0px 15px;
	line-height: 150%;
}

/*https://coryrylan.com/blog/how-to-center-in-css-with-flexbox*/
section{
  /*width: 100%;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner{
	border-radius: 15px;
	text-align: center;
	background-color: white;
	margin: 30px 10px;
	padding:  20px;
	-webkit-box-shadow: 15px 15px 9px -11px rgba(0,0,0,0.46); 
	box-shadow: 15px 15px 9px -11px rgba(0,0,0,0.46);
}

.plan{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  margin-bottom: 20px;
}

.plan_inner{
	padding: 15px 15px;
	font-size: 0.7em;
}

plan_left{
	padding: 15px 0px 15px 0px;
}

.plan_right{
	margin-left: auto;
}

#btn_payment{
	width: 100%;
	padding: 15px;
	border-radius: 15px;
	background-color: hsl(245, 75%, 52%);
	color: white;
	-webkit-box-shadow: 15px 15px 9px -11px rgba(0,0,0,0.46); 
	box-shadow: 15px 15px 9px -11px rgba(0,0,0,0.46);
	margin-bottom: 20px;
	border-style: none;
	font-weight: bold;
}

a:hover, button:hover{
	cursor: pointer;
}

.cancel_order{
	font-size: 0.7em;
}

 .attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }
